<div class="photos-show">
  <h3>{{#link-to 'photos'}}&laquo; Back to gallery{{/link-to}}</h3>
  <h3>{{#link-to 'edit' model.id}}Edit{{/link-to}}</h3>
  <h1>Photo: {{model.name}}</h1>
  <img src={{model.photos.firstObject.data}} width="100%">
  <p>{{model.description}}</p>
</div>
