<label>Image</label>
{{input type="file" id="photoUpload" name="files[]" value=photo.photo_url}}
<div class="preview">
  {{#if photo.photos.firstObject.data}}
    <img src={{photo.photos.firstObject.data}} width="100%">
  {{/if}}
</div>
<label>Name</label>
{{input type="text" value=photo.name}}
<label>Description</label>
{{textarea value=photo.description}}
